<div *ngFor="let option of options">
    <label>
    <div (click)="setValue(option.value)" class="iradio_flat-red checked" [class.checked]="option.value === value"
      aria-checked="false" aria-disabled="false" style="position: relative;">
      <ins class="iCheck-helper"
        style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
    </div>
    <i *ngIf="option.value === 'DEB'" class="fa-brands fa-cc-mastercard"></i>
    <i *ngIf="option.value === 'MON'" class="fa-solid fa-brazilian-real-sign" style="padding-right: 8px;"></i>
    <i *ngIf="option.value === 'REF'" class="fa-brands fa-cc-apple-pay"></i>
    {{option.label}} 
  </label>
</div>